/* @font-face { */
/* colourful font */
/* font-family: "Mario1"; */
/* src: url(./fonts/mario-world-pixel-color-font/MarioWorldPixelColor-3zBwX.ttf); */
/* } */

html,
body,
#root {
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: orange;
}

code {
  font-family: "lores-9-plus-narrow", sans-serif;
}

a {
  pointer-events: all;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: "lores-9-plus-narrow", sans-serif;
  /* cursor: url("../public/cursor32x32.png"), auto; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
  font-family: "halyard-display", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.App-enter {
  color: #ffffff;
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 130px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("@pmndrs/branding/styles.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "lores-9-plus-narrow", sans-serif;
  color: white;
  background: #cc7b32;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: linear-gradient(to top, #0a0a0a, #181a1a, #1d1d1f);
}

.notready {
  color: #606060;
}

.clicked {
  pointer-events: none;
  opacity: 0;
}
