/* @font-face { */
/* colourful font */
/* font-family: "Mario1"; */
/* src: url(./fonts/mario-world-pixel-color-font/MarioWorldPixelColor-3zBwX.ttf); */
/* } */

html,
body,
#root {
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: rgb(105, 11, 32); */
  background: rgb(233, 233, 233);
}

code {
  font-family: "lores-9-plus-narrow", sans-serif;
}

a {
  pointer-events: all;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* font-size: 0; */
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: "lores-9-plus-narrow", sans-serif;
  /* cursor: url("../public/cursor32x32.png"), auto; */
  /* cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4="),
    auto; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-enter {
  color: #ffffff;
  font-family: "lores-9-plus-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: calc(50px + 1vmin);
  align-items: center;
  height: 2%;
}

.App-link {
  color: #ffffff;
  font-family: "halyard-display", sans-serif;
  font-weight: 200;
  font-style: normal;
  height: 200%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "lores-9-plus-narrow", sans-serif;
  color: white;
  background: #ffffff;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: linear-gradient(to top, #0a0a0a, #181a1a, #1d1d1f);
}

.notready {
  color: #606060;
}

.clicked {
  pointer-events: none;
  opacity: 0;
}
